<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Historial de Visitas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngFor="let datum of data">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Visita</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
          <ion-label>Actividad: {{datum?.actividad}} </ion-label>
          <ion-label>Fecha: {{datum?.fecha}} </ion-label>
          <ion-label> Personas extras:{{datum?.extras}} </ion-label>
      </ion-list>
    </ion-card-content>
  </ion-card>
  </ng-container>
</ion-content>