h1 {
    font-size: 24px; 
    color: #ffffff;
    margin-bottom: 10px; 
  }
 
  h2 {
    font-size: 22px; 
    color: #ffffff;
    margin-bottom: 22px; 
  }

  h3 {
    font-size: 20px; 
    color: #ffffff;
    margin-bottom: 20px; 
  }

  qrcode {
    border: 5px solid #072e55; 
    border-radius: 4px;
    padding: 5px; 
    background-color: #ffffff;     
  }
