<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Registrar Visita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Registrar Visita</ion-title>
    </ion-toolbar>

    <ion-card>
      <ion-card-header>
        <ion-title size="large">
          Formulario
        </ion-title>
      </ion-card-header>

      <ion-card-content>
        <form class="formulario" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

          <ion-input 
            label="Actividad:" 
            label-placement="floating" 
            fill="outline" 
            type="text" 
            formControlName="actividad">
          </ion-input>

          <ion-input 
            label="Fecha:"
            label-placement="floating"
            type="date" 
            formControlName="fecha">
          </ion-input>
          
          <ion-input 
            label="Personas Extra:"
            label-placement="floating"
            type="number" 
            formControlName="extras">
          </ion-input>
          <ion-button type="submit">Enviar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-title>
          Información Adicional
        </ion-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <!-- Este row -->
          <ion-row class="ion-justify-content-center" *ngFor="let col of extraColumns">           
              <div class="extra">
                <small>Extra: {{col}}</small>
                <form id="extra-{{col}}" class="formulario">
                  <div class="campo-na">
                    <ion-input
                      label="Nombre:"
                      label-placement="floating"
                      type="text">
                    </ion-input>
                    <ion-input
                      label="Apellido:"
                      label-placement="floating"
                      type="text">
                    </ion-input>
                  </div>
                  <ion-input
                      label="Cédula:"
                      label-placement="floating"
                      type="text">
                  </ion-input>
                </form>
              </div>           
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-header>
  
</ion-content>
