<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Registrar Visita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Registrar Visita</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <ion-card-header>
        <ion-title size="large">
          Formulario
        </ion-title>
      </ion-card-header>

      <ion-card-content>
        <form class="formulario" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

          <ion-input 
            label="Actividad:" 
            label-placement="floating" 
            fill="outline" 
            type="text" 
            formControlName="actividad">
          </ion-input>

          <ion-input 
            label="Fecha:"
            label-placement="floating"
            fill="outline" 
            type="date" 
            formControlName="fecha">
          </ion-input>

          <ion-input 
            label="Hora:"
            label-placement="floating"
            fill="outline" 
            type="time" 
            formControlName="hora">
          </ion-input>
          
          <ion-input 
            label="Personas Extra:"
            label-placement="floating"
            fill="outline" 
            type="number" 
            formControlName="extras">
          </ion-input>
          <ion-button type="submit">Enviar</ion-button>
          <ion-grid formArrayName="extrasData">
            <ion-row class="ion-justify-content-center" *ngFor="let extra of extrasData.controls; let i = index" [formGroupName]="i">
              <div class="extra">
                <small>Extra: {{ i + 1 }}</small>
                <div class="campo-na">
                  <ion-input
                    label="Nombre:"
                    label-placement="floating"
                    fill="solid"
                    type="text"
                    formControlName="nombre">
                  </ion-input>
                  <ion-input
                    label="Apellido:"
                    label-placement="floating"
                    fill="solid"
                    type="text"
                    formControlName="apellido">
                  </ion-input>
                </div>
                <ion-input
                    label="Cédula:"
                    label-placement="floating"
                    fill="solid"
                    type="text"
                    formControlName="cedula">
                </ion-input>
              </div>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
</ion-content>
