<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">iEspol</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid [fixed]="true">
    <ion-row class="mt-3 ion-justify-content-center ion-align-items-center">
      <div class="boton" (click)="goToRegistrar()">
        <ion-icon name="calendar" size="large"></ion-icon>
        <p>Registrar una visita</p>
      </div>
    </ion-row>

    <ion-row class="mt-5 ion-justify-content-center ion-align-items-center">
      <div class="boton" (click)="goToHistorial()">
        <ion-icon name="bookmark" size="large"></ion-icon>
        <p>Historial de visitas</p>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
