
:host {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
  

  h1 {
    font-size: 24px; 
    color: #ffffff;
    text-align: center; 
    margin-bottom: 10px; 
  }
  
 
  h2 {
    font-size: 20px; 
    color: #ffffff;
    text-align: center; 
    margin-bottom: 20px; 
  }
  

  qrcode {
    border: 5px solid #072e55; 
    border-radius: 8px;
    padding: 10px; 
    background-color: #ffffff; 
  }
}