<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Acerca de Nosotros</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-row size="12" style="padding-left: 5%;" class="ion-justify-content-left ion-align-items-left">
    <h1 >Desarrolladores</h1>
  </ion-row>
  <ion-col>
    <ion-row size="12" style="padding-left: 5%;" class="ion-justify-content-left ion-align-items-left">
<p>Nestor</p>
    </ion-row>

    <ion-row size="12" style="padding-left: 5%;" class="ion-justify-content-left ion-align-items-left">
      <p>okkurt</p>
    </ion-row>

    <ion-row size="12" style="padding-left: 5%;" class="ion-justify-content-left ion-align-items-left">
      <p>Tomas Bolaños</p>
    </ion-row>
  </ion-col>

</ion-content>